
*.suo
*.pdb
*.sln
*.ilk
*.exe
*.obj
*.htm
*.manifest
*.idb
*.dep
QTHOG/GeneratedFiles/ui_qthog.h
QTHOG/GeneratedFiles/ui_DlgSkinColor.h
QTHOG/GeneratedFiles/ui_DlgMerge.h
QTHOG/GeneratedFiles/ui_DlgFaces.h
QTHOG/GeneratedFiles/ui_DlgFaceGrid.h
QTHOG/GeneratedFiles/ui_DlgBatchProcess.h
QTHOG/GeneratedFiles/qrc_qthog.cpp
QTHOG/GeneratedFiles/Debug/moc_RectItem.cpp
QTHOG/GeneratedFiles/Debug/moc_qthog.cpp
QTHOG/GeneratedFiles/Debug/moc_QFaceImageGetter.cpp
QTHOG/GeneratedFiles/Debug/moc_ObjectFaceView.cpp
QTHOG/GeneratedFiles/Debug/moc_MergeView.cpp
QTHOG/GeneratedFiles/Debug/moc_MercatorView.cpp
QTHOG/GeneratedFiles/Debug/moc_IplScene.cpp
QTHOG/GeneratedFiles/Debug/moc_IplImageView.cpp
QTHOG/GeneratedFiles/Debug/moc_IplImageItem.cpp
QTHOG/GeneratedFiles/Debug/moc_IdleWatcher.cpp
QTHOG/GeneratedFiles/Debug/moc_FrameFaceView.cpp
QTHOG/GeneratedFiles/Debug/moc_FrameFaceScene.cpp
QTHOG/GeneratedFiles/Debug/moc_FaceView.cpp
QTHOG/GeneratedFiles/Debug/moc_FaceGridView.cpp
QTHOG/GeneratedFiles/Debug/moc_DlgMerge.cpp
QTHOG/GeneratedFiles/Debug/moc_DlgFaces.cpp
QTHOG/GeneratedFiles/Debug/moc_DlgFaceGrid.cpp
QTHOG/GeneratedFiles/Debug/moc_DlgBatchProcess.cpp
QTHOG/GeneratedFiles/Debug/moc_CustomGraphicsItem.cpp
QTHOG/GeneratedFiles/Debug/moc_ColorDistView.cpp
*.ncb
*.user
QTHOG/Debug/Masquerade.res
